.dislike{
    font-family:inherit;
    font-size:  13px;
    font-weight:bold;
    margin:     0px;
    padding:    4px 4px 4px 0px;
    display:    inline-flex;
    position:   relative;
    height:     18px;
    position:   relative;
    top: 4px;
    vertical-align: center;
}